*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}

nav a{
    color: #000;
}

body{
    background: linear-gradient(to right, #008080, #00FF00);
}

section{
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding: 10px;
}

input{
    width: 70%;
    height: 10px;
}

button{
    width: 20%;
    margin: 15px 0;
    padding: 15px;
    border-radius: 50px;
    border: none;
}